@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CustomerApp.ViewModels.CustomerViewModel
 
@{
    Layout = null;
}

<form action="/Customer/Add" method="post">
    Name:- <input type="text" name="txtcustomerName" value="@Model.customer.customerName" /><br />
    Address:- <input type="text" name="txtaddress" value="@Model.customer.address"/><br />
    <input type="submit"  value="Add" />
</form><br />

@if (Model != null)
{
    @foreach (var error in Model.errors)
    {
        @error.ErrorMessage <br />
    }
}
<br />
tweet me at @@abc  @*double @@ razor syntax will not recognize*@