@model List<CustomerApp.Models.Customer>

@{
    Layout = null;
}
<form action="/Customer/Search" method="get">
    Name :- <input type="text" name="customerName" value="" />
    <input type="submit" value="search" />
</form>

<table>
    <tr>
        <td>Name</td>
        <td>Address</td>
    </tr>

@if(Model !=null)
    {
    @foreach (var cust in Model)
        {
            <tr>
                <td>@cust.customerName</td>
                <td>@cust.address</td>
            </tr>
        }
    }
</table>